
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@300&family=Noto+Sans+Vithkuqi:wght@700&display=swap');

.main{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: left;
    height: 100%;
    background: #ffffff;
}
.login{
  position: fixed;
  top: 2.5%;
  right: 2.5vw;
  width:65px;
  height: 20px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px rgb(196, 194, 194) solid;
  border-radius: 3px;
  font-weight: bold;
  color: #258fff;
  font-size: 0.75rem;
  gap: 3px;
  
}
.login:hover{
  color: #6aa4e3;
}
// .login-circle{
//   background: linear-gradient(57deg,#9aefd5,#50cba0);
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   z-index: 99999;
//   font-family: 'Noto Sans Vithkuqi', sans-serif;
// }
.menu-bar{
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-image: url(../img/menu-bar.svg);
  z-index: 99999;
}
.menu {
  position: fixed;
  background: #ffffff;
  width: 26vw;
  height: 100vh;
  z-index: 9999;
  top: 0; /* Add this property to align it to the top */
  left: 4%; /* Add this property to align it to the left */
}
.menu-bar{
  position: fixed;
  width: 4%;
  background: #fff;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  left: 0;
  top: 0;
  border-right: solid 0.5px rgba(0, 0, 0, 0.15);
}
.logo{
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 70px;
}
.menu-button{
  position: relative;
  width: 62px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 62px;
}
.menu-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.searchicon{
  position: absolute;
  top: 5px;
}
.menu-button :hover{
  color: #258fff;
}

.nav {
  position: fixed;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26vw;
  height: 22vh;
  top: 0; /* Add this property to align it to the top */
  left: 4%; /* Add this property to align it to the left */
}



.input-address{
  position: absolute;
  width: 350px;
  height: 46px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
  outline: none; /* Remove the outline */
  border: 2px solid #258fff; /* Remove the border */
  top: 4vh;
}
.start{
  width: 232px;
  height: 20%;

}
.end{
  width: 232px;
  height: 20%;
}
.route-button{
  width: 20%;
}
.Search{
position: absolute;
top: 5vh;
right: 10%;
  background-image: url(../img/ico_search21x212.png);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0;
    border: 0 none;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    cursor: pointer;
}
.weather{
  position: fixed;
  top:15%;
  width: 25.9%;
  left: 4%;
  height: 25%;
  z-index: 999999;
  border: 1px solid rgb(196, 194, 194);
  color: black;

}
.direction-tab{
  color: #258fff;
}
