
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@300&family=Noto+Sans+Vithkuqi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

.main{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: left;
    height: 100%;
    background: #ffffff;
}

.menu {
  position: fixed;
  border-bottom: none;
  display: flex;
  left: 2%;
  width: 350px;
  overflow-y: hidden;
  height: 12.5vh;
  z-index: 9999;
  justify-content: center;
  top: 2vh;
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
}
.custom-popup .leaflet-popup-content-wrapper {

  font-size:12px;
  line-height:24px;
  /* 김구름님, */

font-family: 'Acme';
font-style: normal;
font-weight: 400;



/* snb color 2 */
color: #000958;



box-sizing: border-box;
width: 380px;

background: #FFFFFF;
/* main color */
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.3);
border-radius: 16px;

  }
.popup-title{
  font-size: 20px;
  line-height: 0;
}
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
  .warning-popup .leaflet-popup-content-wrapper {

    font-size:12px;
    line-height:24px;
    /* 김구름님, */
    margin-left: 760px;
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  
  
  
  /* snb color 2 */
  color: #000958;
  display: flex;
  flex-direction: column;
  
  
  
  box-sizing: border-box;
  width: 380px;
  height: 360px;
  
  background: #FFFFFF;
  border: none;

  
    }
    .warning-popup .leaflet-popup-tip-container {
      display: none;
     
      }
      .warning-popup img {
        margin-bottom: 5px; // Adjust the spacing as needed
      }
      .warning-popup1 .leaflet-popup-content-wrapper {

        font-size:12px;
        line-height:24px;
        /* 김구름님, */
        margin-left: 815px;
        margin-bottom: -28px;
      font-family: 'Acme';
      font-style: normal;
      font-weight: 400;
      
      
      
      /* snb color 2 */
      color: #000958;
      display: flex;
      flex-direction: column;
      
      
      
      box-sizing: border-box;
      width: 380px;
      height: 360px;
      
      background: #FFFFFF;
      border: none;
    
      
        }
        .warning-popup1 .leaflet-popup-tip-container {
          display: none;
         
          }
          .warning-popup1 img {
            margin-bottom: 5px; // Adjust the spacing as needed
          }
  .custom-redpopup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .custom-redpopup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
  }
  .custom-popup img{
    width: 100%;
    height: 180px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;

  }
  .custom-popup img:hover {
    /* 이미지 확대 애니메이션 */
    transform: scale(1.1);
}
  






  
  
 
  

.alert {
  position: fixed;
  top: 10%;
  right: 10px;
  display: flex;
  background: #e74c3c;
  color: #fff;
  border: 2px solid #811003;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 300px;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  font-family: Arial, sans-serif;
}
.popup-image-container{
  display: flex;
  background: #e74c3c;
  color: #fff;
  border: 2px solid #811003;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 300px;
  margin-bottom: 12.5px;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  font-family: Arial, sans-serif;
}
.popup-content{
  position: relative;
  width: 350px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}
.popup-image-container{
  flex-direction: column;
}
.popup-info{
}
.popup-image-container button{
  z-index: 99999999999;
}
.popup-image-container img{
  width: 280px;
  
}
.warning-content{
  width: 300px;
  height: 200px;

}

.alert.show {
  visibility: visible;
  opacity: 1;
}
.menu-bar{
  position: absolute;
  display: flex;
  width: 350px;
  height: 5vh;
  justify-content: center;
  align-items: center;
  top: 0%;
  background: #ffffff;
  z-index: 99999999999;
  gap: 15px;
  margin-right: 15px;
  margin-left: 5px;


}

.logo{
  position: relative;
  top: 3%;
  font-family: 'Playpen Sans', cursive;
  color: #ff7f00;
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;

}
.menu-button {
  position: relative;
  width: 20%; /* Adjust width as needed */
; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem; /* Adjust font size as needed */
  border: 2px solid #258fff;
  border-radius: 5px;
  background-color: #258fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.searchicon{
  position: absolute;
  top: 5px;
}
.menu-button :hover{
  color: #bcbdbd;
}

.nav {
  position: fixed;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 22vh;
  border-radius: 50px;
  top: 5.5%; /* Add this property to align it to the top */
  left: 2%;

}
.nav-direction {
  position: fixed;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 20vh;
  background: #ffffff;
  border: 1px solid #AAB3FF;
  border-radius: 8px; /* Increased border-radius for a smoother look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

/* You can add additional styles for child elements if needed */
.nav-direction h1 {
  color: #333; /* Example style for text color */
  font-size: 18px; /* Example style for font size */
  /* Add more styles as needed */
}

/* Style for the info-cont */
.info-cont {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  height: 20vh;
  background: rgba(255, 255, 255, 0.9);
  border-top: transparent;
  border: 1px solid #a0afbf; /* Increase border width and change color */
  border-radius: 10px; /* Increase border radius for a rounded look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Enhance box shadow for depth */
  display: flex;
  justify-content: center;
  text-align: left;
  visibility: hidden;
 /* Add more padding for better spacing */
}
.routeWalk{
  position: absolute;
  bottom: 20px;
  width: 200px;
  height: 60px;
}

/* Style for the info-content div */
.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Style for info-row */
.info-row {
  width: 100%;

}

/* Style for info-label (Distance and Duration labels) */
.info-label {
  font-weight: bold;
  color: #258fff;
  text-transform: uppercase; /* Convert text to uppercase for emphasis */
  font-size: 15px; /* Adjust font size */
  font-weight: bold;
}

/* Style for info-value (Distance and Duration values) */
.info-value {
  color: #333;
  font-size: 16px; /* Adjust font size */
  margin-left: 20px;
  font-weight: bold;
}

.pd{
  position: absolute;
  bottom: 45px;
  width: 50px;
  left: 0;
}
.walk{
  position: absolute;
  left: 10%;
}

.input-address{
  position: absolute;
  width: 340px;
  height: 46px;
  border-radius: 3px;
  background-color: #fff;
  outline: none; /* Remove the outline */
  top: 2vh;
  /* Rectangle 51 */

box-sizing: border-box;



background: #FFFFFF;
/* main color */
border: 2px solid #AAB3FF;
box-shadow: 0px 0px 10px rgba(170, 179, 255, 0.4);
border-radius: 16px;

}
.start{
  position: absolute;
  top: 68px;
  width: 232px;
  height: 10%;
  z-index: 99999999;
  left:55px;
  border: 1px solid #72cc82;
  border-radius: 2px;

}
.end{
  position: absolute;
  width: 232px;
  top: 90px;
  left: 55px;
  height: 10%;
  border: 1px solid #FFB3B3;
  ;
  border-radius: 2px;
}
.route-button {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 25px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  /* Rectangle 53 */

/* snb color 2 */
background: #fcb0b0;
border-radius: 16px;

}

.route-button:hover {
  background-color: #72cc82; /* 호버 시 색상 변경 */
}

/* 선택적으로 버튼에 아이콘 추가하기 */
.routebtn{
  position: absolute;
  width: 100%;
}
.Search{
position: absolute;
top: 3.2vh;
right: 5%;
  background-image: url(../img/icon-search.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0;
    border: 0 none;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    cursor: pointer;
}
.weather {
  position: fixed;
  display: flex;
  top: 15%;
  left: 2%;
  width: 348px;
  height: 5%;
  z-index: 999999;
  border: 1px solid #258fff;
  background-color: #fff; /* Add a white background color */
  color: #333; /* Darken the text color */
  font-size: 0.25em; /* Increase the font size for better readability */
  justify-content: center;
  align-items: center;
  gap: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  border-radius: 10px; /* Add rounded corners */
}

.weather p {
  margin: 0; /* Remove default margin for paragraphs */
  padding: 2px; /* Add some padding to the paragraphs */
}
.weather img {
  width: 30px;
  height: 30px;
}

.direction-tab1, .direction-tab2 {
  position: absolute;
  top: 12.5%;
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #258fff;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.direction-tab1 {
  left: 20%;
  height: 20px;
  background-color: #258fff;
}
.walk :hover{
  color: gray;
}

.direction-tab2 {
  right: 20%;
  height: 20px;
  justify-content: flex-end;
}
.popup-div{
  position: absolute;
  font-size:12px;
  line-height:24px;
  margin-left: 50vw;
  margin-top: 10vh;
  /* 김구름님, */
  z-index: 999999;
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  /* snb color 2 */
  color: #000958;
  box-sizing: border-box;
  width: 380px;
  height: 380px;

  background: #FFFFFF;
  /* main color */
  border: 1px solid #AAB3FF;
  border-radius: 16px;
}
.alertMessage{
  position: absolute;
  margin-left: 22.5px;
  display: flex;
  flex-direction: column;
  background: #e74c3c;
  color: #fff;
  border: 2px solid #811003;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 300px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}


